* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 1280px;
    margin: auto;
}

.modal__item {
    display: flex;
    justify-content: space-between
}

.close {
    width: 16px;
    height: 16px;
    opacity: 0.3;
    cursor: pointer;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    content: " ";
    height: 16px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.fixed-overlay {
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal__container {
    background-color: #fff;
    width: 565px;
    height: 610px;
    margin: 100px auto;
}

.modal__container-items {
    padding: 30px;
}

.modal__input-items {
    display: flex;
    flex-direction: column;
}

.input-item {
    border: 1px solid #b6b6b6;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
}

.modal__producte-select {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.text {
    font-size: 14px;
}

.producte-select {
    border: 1px solid #b6b6b6;
    border-radius: 5px;
    padding: 5px;
    width: 260px;
}

.toggle-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.toggle-button {
    transition: 0.3s;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin: 0;
    vertical-align: top;
    background: #cebcbd;
    border: 1px solid #bbc1e1;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.toggle-button::after {
    transition: 0.3s;
    content: "";
    display: inline-block;
    position: absolute;
    top: 0.5px;
    width: 16px;
    height: 16px;
    background-color: #e1d3d4;
    border-radius: 50%;
    transform: translateX(0);
}

.toggle-button:checked::after {
    transform: translateX(calc(100% + 3px));
    background-color: #fff;
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button:checked {
    background-color: #8d8283;
}

.modal__additional-items {
    margin-top: 15px;
}

.container-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

textarea {
    width: 100%;
    resize: vertical;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
    height: 100px;
}

.modal__price {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.send-btn {
    padding: 8px;
    width: 135px;
    background-color: #448ae0;
    color: azure;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

input[type="email"] {
    width: 100%;
    border: 1px solid #b6b6b6;
    box-sizing: border-box;
}
input::placeholder {
    color: #ea4f81;
}

input:invalid {
    box-shadow: 0 0 1px 1px red;
    background-color: #fde9ec;
}

input:focus:invalid {
    box-shadow: none;
}

select:invalid {
    box-shadow: 0 0 1px 1px red;
    background-color: #fde9ec;
}

select:focus:invalid {
    box-shadow: none;
}

.button {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.send-btn {
    cursor: pointer;
}
